 
 .inner_banner {  background: url(../images/inrbnr.jpg) center top no-repeat; background-size: cover;}

 .top_breadcrumb  { font-size: 18px; }

 .top_breadcrumb a:hover  { color: $orange-color; }

 .classes_box_inner { height: 100%; margin-bottom: 40px;}

 .classboxlink { padding: 25px; border: 1px solid $input-border-color1; }

 .classboxtitleh2 { font-size: 17px; color: $blue-color; font-family: $fonts-bold-primary; line-height: 28px;  }
 .classboxlocationsp {font-size: 14px; color:$body-font-color; margin-bottom: 3px;}


 .red_band_call strong { font-weight: normal; font-family: $fonts-bold-primary; }
 .red_band_call a:hover { color: $yellow-color; text-decoration: none; }

 .red_band_call p { display: inline-block;  padding: 0 35px; position: relative;}
 
 .red_band_call .fa-right-long, .chk-lftarrow  {
    font-size: 26px;
    position: absolute;
    left: 0;
    top: -1px;
    color: $yellow-color;
}

.red_band_call .fa-left-long , .chk-rgtarrow {
    font-size: 26px;
    position: absolute;
    right: 0;
    top: -1px;
    color: $yellow-color;
}
.chk-lftarrow, .chk-rgtarrow { top: 3px;}

.form_border { border: 1px solid $input-border-color1;}

.aggre_text { font-size: 13px; line-height: 18px;} 

.texthurry {
    font-family: $fonts-bold-primary; 
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    padding: 6px 0 0 0;
    color:$body-font-color3;

  }

  .texthurry span {
    color: $orange-color;
    font-family: $fonts-primary; 
  }
  .check_progress {
    max-width: 440px;
    height: 3px;
    background: $foterbg-color;
    margin: 0 auto;
    position: relative;
  }

  .check_progress_inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
    width: 30%;
    background: $orange-color;
  }

  .checkout_form_header { background: $blue-color; padding: 15px 15px 12px 15px;}

  .step_p { margin-bottom: 0;  color: $white-color; margin-top: -6px; }
  .info_h3 { margin-bottom: 0; color: $white-color; font-size: 28px;  margin-top: -4px; }
  .info_h3 strong {  font-family: $fonts-bold-primary; font-weight: normal; }

  .checkout_page_forms { position: relative;}


  .if_loader {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    background: $white-opacity;
    display: none;
    transition: all 0.5s ease;

  }
  .loader_active .if_loader { display: block;  }
  
  .if_loader_inn { position: relative; display:table;  width: 100%; height: 100%; text-align: center; }

  .if_loader_inn_loader { width: 100%; height: 100%;  display:table-cell; vertical-align: middle; }    

  .if_loader_inn_loader_body { 
      max-width: 300px; padding: 30px; 
     margin: 0 auto; 
    border-radius: 10px;   }

  .if_loader_inn_loader_body p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 15px;
  }

  .if_loader  .spinner-border {width: 80px; height: 80px;}
 
  .property_info { background: $yellow-color2; padding: 10px 0;}

  .property_info span { display: block; }

  .property_info p { margin-bottom: 7px; }
 
  .property_info p, .property_info strong { font-size: 15px;  line-height: 20px; color: $black-color;}
  .property_info strong  {  font-family: $fonts-bold-primary; font-weight: normal; }
 
  .property_info span { color: $light-blue-color; font-family: $fonts-bold-primary; font-size: 13px;  }





 @media screen and (max-width: 1199px) {
  .classboxtitleh2 { font-size: 15px;  line-height:22px;  }
 
  .line_p { width: 70%;}
  .form_header_profile  { width: 60px;}

  .button_checkout  { padding: 0 15px !important; margin: 0 !important; }

  .info_h3 {font-size: 23px;}

 }

 @media screen and (max-width: 991px) {
   .info_h3 {font-size: 18px;}
   .line_p {  width: 60%;  }

   .form_control   .col-lg-6.pl-2 { padding-left: 15px !important;}
   .form_control   .col-lg-6.pr-2 { padding-right: 15px !important;}
   .chk-lftarrow, .chk-rgtarrow {  top: 3px;  width: 22px;  }

 }


 @media screen and (max-width: 767px) {
  .classes_box_inner { text-align: center; margin-bottom: 20px;} 
  .classes_box {padding-bottom: 20px !important;}
  .chk-lftarrow, .chk-rgtarrow {  display: none;  }
  .red_band_call p {font-size: 13px;  line-height: 18px; padding: 0;}
  .checkout_page   { padding: 30px 0 10px 0 !important; }

  .checkout_page_right  .h6text { font-size: 22px; line-height: 28px; text-align: left; }
   
 }

 @media screen and (max-width: 375px) {
  .line_p {  width: 50%; }
  .info_h3, .step_p {font-size: 14px;}
  .texthurry {font-size: 13px;}

 }

 