:root {
    --input-padding-x: 1rem;
    --input-padding-y: .5rem;
    --placeholder-color: #6c757d;
    --top-position: 14px;
    --label-z-index: 5;
    --input-background-color: #ffffff;
    --top-position-in-border: 5px;
    --outline-border-color: #80bdff;
    --top-position-outline: -8px;
    --normal-border-color: #ced4da;
    --outline-border-size: .125rem;
    --outline-animation-duration: .3s;
    --outline-transition-type: linear;
}

.floating_labels .form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
.floating_labels .form-label-group label {
    margin: 0;
    pointer-events: none;
}


.form_control .form-control {  color: $placeholder-color; font-size: 16px; height:48px;}
.form_control select {  color: $placeholder-color; font-size: 16px;  }
.form_control .form-control:focus {
    border-color: $body-font-color2;
  }
 
 
.form_control input:-webkit-autofill,
.form_control input:-webkit-autofill:hover, 
.form_control input:-webkit-autofill:focus,
.form_control textarea:-webkit-autofill,
.form_control textarea:-webkit-autofill:hover,
.form_control textarea:-webkit-autofill:focus,
.form_control select:-webkit-autofill,
.form_control select:-webkit-autofill:hover,
.form_control select:-webkit-autofill:focus  {
        box-shadow: 0 0 0px 1000px $white-color inset !important;
        background: $white-color;
}



 



.floating_labels .form-label-group input,
.floating_labels .form-label-group textarea,
.floating_labels .form-label-group label,
.floating_labels .form-label-group:not(.in-border).form-label-group:not(.outline) select {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.floating_labels .form-label-group label {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    color: $placeholder-color;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
    transform-origin: 0 0;
    transform: translateY(-50%);
    text-align: left;/* 
    visibility: hidden; */
    z-index: var(--label-z-index);
    font-size: 14px;
}
.floating_labels .form-label-group.form-control {
    padding:0;
}
.floating_labels .form-label-group.form-control input {
    border: none;
    height: 99%;
}
.floating_labels .form-label-group textarea ~ label {
    top: 0px;
    transform: translateY(0);
}

.floating_labels .form-label-group.transparent input::-webkit-input-placeholder {
    color: transparent;
}

.floating_labels .form-label-group.transparent input:-ms-input-placeholder {
    color: transparent;
}

.floating_labels .form-label-group.transparent input::-ms-input-placeholder {
    color: transparent;
}

.floating_labels .form-label-group.transparent input::-moz-placeholder {
    color: transparent;
}

.floating_labels .form-label-group.transparent input::placeholder, 
.floating_labels .form-label-group.transparent textarea::placeholder {
    color: transparent;
}

.floating_labels .form-label-group input:not(:placeholder-shown), 
.floating_labels .form-label-group input:focus, 
.floating_labels .form-label-group textarea:not(:placeholder-shown), 
.floating_labels .form-label-group textarea:focus {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.floating_labels .form-label-group:not(.in-border).form-label-group:not(.outline) select {
    padding-bottom: 0;
}

.floating_labels .form-label-group input:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group input:focus ~ label, 
.floating_labels .form-label-group textarea:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group textarea:focus ~ label, 
.floating_labels .form-label-group select ~ label {
    font-size: 1em;
    top: var(--top-position);
    transform: translateY(-50%) scale(.7);
    visibility: visible;
}
.floating_labels .form-label-group input.form-control-lg:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group input.form-control-lg:focus ~ label{
    top: calc(2px + var(--top-position));
}
.floating_labels .form-label-group input.form-control-sm:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group input.form-control-sm:focus ~ label{
    top: calc(2px - var(--top-position));
}
.floating_labels .form-label-group input:focus::placeholder, 
.floating_labels .form-label-group textarea:focus::placeholder {
    visibility: hidden;
    color: $placeholder-color;
    transition-delay: 0s;
    opacity: 0;
    text-shadow: none;
}



.floating_labels .form-label-group input::placeholder, 
.floating_labels .form-label-group textarea::placeholder {
    transition-delay: .2s;
    color: $placeholder-color;
    opacity: 0;
}

.floating_labels .form-label-group .intl-tel-input label, 
.floating_labels .form-label-group .iti label {
    margin-left: 42px;
}

.floating_labels .form-label-group .intl-tel-input input:focus::placeholder, 
.floating_labels .form-label-group .iti input:focus::placeholder{
    visibility: visible;
    color: var(--placeholder-color);
    opacity: 1;
}


/* In Border */

.floating_labels .form-label-group.in-border label {
    width: auto;
    /* left: .6rem; */
}

.floating_labels .form-label-group.in-border input:focus, 
.floating_labels .form-label-group.in-border textarea:focus, 
.floating_labels .form-label-group.in-border select:focus {

    box-shadow: none;
}

.floating_labels .form-label-group.in-border input:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group.in-border input:focus ~ label, 
.floating_labels .form-label-group.in-border textarea:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group.in-border textarea:focus ~ label, 
.floating_labels .form-label-group.in-border select ~ label {
    left: calc(var(--input-padding-x)/10);
    top: var(--top-position-in-border);
    height: auto;
}

.floating_labels .form-label-group.in-border input:not(:placeholder-shown) ~ label::after, 
.floating_labels .form-label-group.in-border input:focus ~ label::after, 
.floating_labels .form-label-group.in-border textarea:not(:placeholder-shown) ~ label::after, 
.floating_labels .form-label-group.in-border textarea:focus ~ label::after, 
.floating_labels .form-label-group.in-border select ~ label::after {
    visibility: visible;
    transition: all .2s ease;
}

.floating_labels .form-label-group.in-border label::after{
    content: " ";
    display: block;
    position: absolute;
    background: var(--input-background-color);
    height: 4px;
    top: 50%;
    left: .7em;
    right: .7em;
    z-index: -1;
    visibility: hidden;
}

.floating_labels .form-label-group.in-border input,
.floating_labels .form-label-group.in-border label {
    
    padding: var(--input-padding-y) var(--input-padding-x);
    
}


.floating_labels .form-label-group.in-border textarea,
.floating_labels .form-label-group.in-border textarea ~ label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.floating_labels .form-label-group.in-border input,
.floating_labels .form-label-group.in-border textarea, 
.floating_labels .form-label-group.in-border label,
.floating_labels .form-label-group.in-border select {
    transition: all .2s linear, border-color .5s ease-in-out,box-shadow .5s ease-in-out;
}


.floating_labels .form-label-group.in-border .intl-tel-input input:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group.in-border .intl-tel-input input:focus ~ label, 
.floating_labels .form-label-group.in-border .iti input:not(:placeholder-shown) ~ label, 
.floating_labels .form-label-group.in-border .iti input:focus ~ label {
    margin-left: 0px;
}

.floating_labels .form-label-group.iti-right .iti__flag-container {
    right: 0;
    left: auto;
}

.floating_labels .form-label-group.iti-right .iti--allow-dropdown input, 
.floating_labels .form-label-group.in-border.iti-right .iti--allow-dropdown input[type="tel"], 
.floating_labels .iti--allow-dropdown input[type="text"], 
.floating_labels .form-label-group.iti-right .iti--separate-dial-code input, 
.floating_labels .form-label-group.iti-right .iti--separate-dial-code input[type="tel"], 
.floating_labels .form-label-group.iti-right .iti--separate-dial-code input[type="text"] {
    padding-left: var(--input-padding-x);
}

.floating_labels .form-label-group.iti-right .intl-tel-input label, 
.floating_labels .form-label-group.iti-right .iti label {
    margin-left: 0;
}

.floating_labels  .form-label-group.iti-right .iti__country-list {
    right: 0px;
}

.floating_labels  .form-label-group .iti__country-list {
    z-index: calc(var(--label-z-index) + 2) !important;
}



/* Outline */

.floating_labels .form-label-group.outline span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    color: $placeholder-color;
    border-radius: .25rem;
    transition: all .2s var(--outline-transition-type);
    transform-origin: 0 0;
    /* transform: translateY(-50%); */
    text-align: left;/* 
    visibility: hidden; */
    z-index: var(--label-z-index);
    height: 100%;
    flex-wrap: wrap;
    pointer-events: none;
}

.floating_labels .form-label-group.outline input.border-danger ~ span{
    --normal-border-color: var(--danger, #dc3545);
}
.floating_labels .form-label-group.outline input.border-primary ~ span {
    --normal-border-color: var(--primary, #007bff);
}
.floating_labels .form-label-group.outline input.border-secondary ~ span {
    --normal-border-color: var(--secondary, #6c757d);
}
.floating_labels .form-label-group.outline input.border-success ~ span {
    --normal-border-color: var(--success, #28a745);
}
.floating_labels .form-label-group.outline input.border-info ~ span {
    --normal-border-color: var(--info, #17a2b8);
}
.floating_labels .form-label-group.outline input.border-warning ~ span {
    --normal-border-color: var(--warning, #ffc107);
}
.floating_labels .form-label-group.outline input.border-light ~ span {
    --normal-border-color: var(--light, #f8f9fa);
}
.floating_labels .form-label-group.outline input.border-dark ~ span {
    --normal-border-color: var(--dark, #343a40);
}
.floating_labels .form-label-group.outline input.border-white ~ span{
    --normal-border-color: var(--white, ##fff);
}


.floating_labels .form-label-group.outline input:focus, 
.floating_labels .form-label-group.outline textarea:focus, 
.floating_labels .form-label-group.outline select:focus {
    box-shadow: none;
}

.floating_labels .form-label-group.outline input:not(:placeholder-shown) ~ span, 
.floating_labels .form-label-group.outline input:focus ~ span, 
.floating_labels .form-label-group.outline textarea:not(:placeholder-shown) ~ span, 
.floating_labels .form-label-group.outline textarea:focus ~ span, 
.floating_labels .form-label-group.outline select ~ span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    color: var(--placeholder-color);
    border-radius: .25rem;
    transition: all var(--outline-animation-duration) var(--outline-transition-type);
    transform-origin: 0 0;
    /* transform: translateY(-50%); */
    text-align: left;/* 
    visibility: hidden; */
    z-index: var(--label-z-index);
    height: 100%;
    flex-wrap: wrap;
}

.floating_labels .form-label-group.outline input ~ span::after, 
.floating_labels .form-label-group.outline input ~ span::after, 
.floating_labels .form-label-group.outline textarea ~ span::after, 
.floating_labels .form-label-group.outline textarea ~ span::after, 
.floating_labels .form-label-group.outline select ~ span::after {
    transition: all var(--outline-animation-duration) var(--outline-transition-type);
    content: " ";
    /* width: 1px;*/
    width: 1px; 
    flex: 1 0 auto;
    border: var(--outline-border-size) solid var(--normal-border-color);
    border-left: none;
    position: relative;
    right: 0px;
    height: 100%;
    visibility: hidden;
    border-radius: 0 .25rem .25rem 0;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 1px;
}

.floating_labels .form-label-group.outline input:not(:placeholder-shown) ~ span::after, 
.floating_labels .form-label-group.outline input:focus ~ span::after, 
.floating_labels .form-label-group.outline textarea:not(:placeholder-shown) ~ span::after, 
.floating_labels .form-label-group.outline textarea:focus ~ span::after, 
.floating_labels .form-label-group.outline select ~ span::after {
    height: 100%;
    border: 1px solid var(--normal-border-color);
    border-left: none;
    content: " ";
    display: block;
    position: relative;
    background: transparent;
    /* top: 0px;
    right: 0px; */
    z-index: -1;
    border-radius: 0 .25rem .25rem 0;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    transition: all var(--outline-animation-duration) var(--outline-transition-type);
    visibility: visible;
}
.floating_labels .form-label-group.outline input:not(:placeholder-shown) ~ span::before, 
.floating_labels .form-label-group.outline input:focus ~ span::before, 
.floating_labels .form-label-group.outline textarea:not(:placeholder-shown) ~ span::before, 
.floating_labels .form-label-group.outline textarea:focus ~ span::before, 
.floating_labels .form-label-group.outline select ~ span::before {
    height: 100%;
    border: 1px solid $input-border-color1;
    border-right: none;
    content: " ";
    display: block;
    position: relative;
    background: transparent;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-radius: .25rem 0 0 .25rem;
    width: 100%;
    flex: 0 0 9px;
    transition: all var(--outline-animation-duration) var(--outline-transition-type);
}

.floating_labels .form-label-group.outline label {
    position: relative;
    top: 50%;
    left: 0;
    display: block;
    width: auto;
    margin-bottom: 0;
    color: $placeholder-color;
    border-radius: .25rem;
    transition: all var(--outline-animation-duration) var(--outline-transition-type);
    /* transform: translateY(-50%); */
    text-align: left;
    /* visibility: hidden; */
    z-index: var(--label-z-index);
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    flex: 0 0 auto;
    margin-right: auto;
}

.floating_labels .form-label-group.outline input:not(:placeholder-shown) ~ span label, 
.floating_labels .form-label-group.outline input:focus ~ span label, 
.floating_labels .form-label-group.outline textarea:not(:placeholder-shown) ~ span label, 
.floating_labels .form-label-group.outline textarea:focus ~ span label, 
.floating_labels .form-label-group.outline select ~ span label {
    transform: none;
    top: var(--top-position-outline);
    font-size: .6rem;
    padding: var(--input-padding-y) calc(var(--input-padding-x)/3);
    padding-top: 0;
    color: var(--placeholder-color);
    margin: 0;
    margin-right: auto;
    /* padding-bottom: 0; */
    /* height: fit-content; */
    
}

.floating_labels .form-label-group.outline input:not(:placeholder-shown ), 
.floating_labels .form-label-group.outline input:focus , 
.floating_labels .form-label-group.outline textarea:not(:placeholder-shown) , 
.floating_labels .form-label-group.outline textarea:focus , 
.floating_labels .form-label-group.outline select {
    border-top-color: transparent !important;
    border-bottom-color: var(--normal-border-color);
    border-bottom-width: 1px;
    transition: all var(--outline-animation-duration) var(--outline-transition-type);
}

.floating_labels .form-label-group.outline input,
.floating_labels .form-label-group.outline textarea, 
.floating_labels .form-label-group.outline label,
.floating_labels .form-label-group.outline select {
    background-color: transparent;
    transition: all var(--outline-animation-duration) var(--outline-transition-type);
}

.floating_labels .form-label-group.outline select ~ span::after, 
.floating_labels .form-label-group.outline select ~ span::before{
    border-color: var(--normal-border-color);
}

.floating_labels .form-label-group.outline input, 
.floating_labels .form-label-group.outline label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.floating_labels .form-label-group.outline select {
    border-bottom-color: var(--normal-border-color);
}

.floating_labels .form-label-group.outline select ~ span label {
    color: var(--placeholder-color);
}

.floating_labels .form-label-group.outline.border-danger {
    --outline-border-color: var(--danger, #dc3545);
}
.floating_labels .form-label-group.outline.border-primary {
    --outline-border-color: var(--primary, #007bff);
}
.floating_labels .form-label-group.outline.border-secondary {
    --outline-border-color: var(--secondary, #6c757d);
}
.floating_labels .form-label-group.outline.border-success {
    --outline-border-color: var(--success, #28a745);
}
.floating_labels .form-label-group.outline.border-info {
    --outline-border-color: var(--info, #17a2b8);
}
.floating_labels .form-label-group.outline.border-warning {
    --outline-border-color: var(--warning, #ffc107);
}
.form-label-group.outline.border-light {
    --outline-border-color: var(--light, #f8f9fa);
}
.floating_labels .form-label-group.outline.border-dark {
    --outline-border-color: var(--dark, #343a40);
}
.floating_labels .form-label-group.outline.border-white {
    --outline-border-color: var(--white, #fff);
}

.floating_labels .form-label-group.outline input:focus ~ span::before,  
.floating_labels .form-label-group.outline textarea:focus ~ span::before, 
.floating_labels .form-label-group.outline input:focus ~ span::after,  
.floating_labels .form-label-group.outline textarea:focus ~ span::after, 
.floating_labels .form-label-group.outline select:focus ~ span::after, 
.floating_labels .form-label-group.outline select:focus ~ span::before, 
.floating_labels .form-label-group.outline select:focus ~ span label{
    border-color: var(--outline-border-color);
    color: var(--outline-border-color) !important;
    border-width: var(--outline-border-size);

    transition: all var(--outline-animation-duration) var(--outline-transition-type);
}
.floating_labels .form-label-group.outline select:focus, 
.floating_labels .form-label-group.outline input:focus, 
.floating_labels .form-label-group.outline textarea:focus {
    border-bottom-color: var(--outline-border-color) !important;
    border-bottom-width: var(--outline-border-size);
    transition: all .2s var(--outline-transition-type);
}

.floating_labels .form-label-group.outline input:focus ~ span label, 
.floating_labels .form-label-group.outline textarea:focus ~ span label, 
.floating_labels .form-label-group.outline select:focus ~ span label {
    color: var(--outline-border-color) !important;
}


/* fix ITI container */

.floating_labels .form-label-group.outline .iti__flag-container span {
    position: relative;
    display: inline;
}