
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
object,
embed,
video {
    max-width: 100%;
}
 
.clearfix { clear: both; margin: 0; padding: 0;}
  
video{ outline: 0!important; } 
a,
.btn, button {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus,
a:hover {
  outline: none;
  border: 0;
  text-decoration: none;
}




body {
  font-size: 16px;
  font-family: $fonts-primary;
  background: $white-color !important;
  color: $body-font-color;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
}


.position_relative {
    position: relative;
}


p {
  font-size: 18px;
  line-height: 28px;
}

.fluid100  {width: 100%; }

 

 
.top_header  { position: relative; padding: 10px 0; 
  background: $white-color; height: 78px; top: 78px; margin-top: -78px; margin-bottom: 78px;}

.top_header.stick {
  float: left;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: margin .3s ease-out;
  margin-top: 0;
  top: 0;
  border-bottom: 1px solid $input-border-color1;

}



.top_header .navbar  { padding: 0;  }



.top_header ul.navbar-nav li a {
  color: $menu-color;
  padding: 0 6px !important;
  display: block;
  font-family: 'glacial_indifferenceregular';
  font-weight: normal;
  font-size: 14.5px;
}

.top_header ul.navbar-nav li {
  display: inline-block;
  line-height: 36px;
  text-align: center;
  background: url(../images/mnuline.jpg) left center no-repeat;
}

.top_header ul.navbar-nav li a:hover, 
.top_header ul.navbar-nav li a:focus {
  text-decoration: none;
  background-color: $menu-hoverbg-color;
}

.top_header ul.navbar-nav li:first-child {
  background: none;
}

 

.top_header ul.navbar-nav li:last-child a {
  background: $orange-color;
  color: $white-color;
  border: 1px solid $orange-color;
  height: 38px;
  line-height: 38px;
  padding: 0 26px !important;
}

.top_header ul.navbar-nav li:last-child:hover a {
  background: $white-color;
  color: $orange-color;
}
 

.top_header .membrs_login_head  {
  position: absolute; 
  right: 15px; top: 26px; 
  z-index: 99;
  
}

.top_header .membrs_login_head_text  {  
  color: $menu-color;
  text-decoration: none !important;
  font-size: 15px;
  float: left;
}


.top_header .membrs_login_head_text:hover {
  color: $orange-color;
}


.redband_txt {
  font-size: 16px;
  line-height: 24px;
  color: $white-color;
  text-align: center;
  margin: 0;
}

 

.red_band{
  background-color:$orange-color;
  color: $white-color;
  font-weight: normal;
  font-style: normal;
  padding: 6px 0;
}

.mac-os .red_band {padding: 6px 0 4px 0;}

.redband_txt a {
  color: $white-color;
}
.redband_txt a:hover { text-decoration: underline;  } 




 

.banner {
    background: url(../images/banner.jpg) center top no-repeat;
    position: relative;
    height: auto;
    background-size: cover  
} 
 
.banner_inner { height: 100%; overflow: hidden; }

.banner_inner  .embed-responsive {background-size:cover; }


.video_overlay { background: rgba(0,0,0,0.5); position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; }

.video_overlay_mid { display: table; position: relative;  width: 100%; height: 100%;  text-align: center;}

.video_overlay_inn {display: table-cell; vertical-align: middle; }

.video_overlay h1 {
  font-family: $fonts-bold-primary;
  color: $white-color;
  font-style: normal;
  margin: 0px;
  line-height: 1;
  font-size: 64px;
}

.video_overlay  h2 {
  font-family: $fonts-primary;
  color: $white-color;
  font-style: normal;
  font-size: 49px;
  margin-bottom: 0;
  line-height: 1;
}




.zipfleld  {
  height: 72px;
  width: 100%;
  border: 1px solid $input-border-color1;
  background-color:$transparent-color;
  padding: 0 10px 0 60px;
  font-size: 18px;
  text-align: left;
  color: $white-color;;
  margin: 0;
  border-radius:0 ;
}
.zipfleld:focus {  background-color:$transparent-color; } 

.zipfleld_div { width: 100%;  background: url(../images/zip-icon.png) 22px center no-repeat; } 
.zipfleld_div2 { width: 100%;  background: url(../images/zip-icon2.png) 22px center no-repeat; } 

.search_zip {  
  height: 72px;
  width: 100%;
  background: $orange-color;
  color: $white-color;
  font-size: 27px;
  line-height: 72px;
  text-align: center;
  padding: 0;
  border: 0;

}

.zip_sections  li { list-style: none; display: inline-block; padding: 0 5px;}
.zip_sections  li .zipfleld,
.zip_sections  li .search_zip { float: left;}
 

.span1  {
  float: right;
  width: 58px;
  height: 100%;
  background: $orange-color url(../images/btn-arrow.png) center center no-repeat;
  background-color: $orange2-color;
}

.search_zip:hover {  background:$orange3-color;}

 

 
.icon_list li {
  display: inline-block;
  width: 24%;
  text-align: center;
}

.icon_list li  + li {  border-left: 1px solid $input-border-color1;}

.icon_list li h2 {
  font-family: $fonts-bold-primary;
  font-size: 20px;
  line-height: 26px;
  color: $black-color;

}



.box_list_sections {
  background: url('../images/Light-Conrete.jpg') no-repeat center center;
    background-size: auto;
  background-size: cover !important;
  padding: 50px 0 80px 0;
}




.h2text { 
  font-family: $fonts-bold-primary;
  color: $black-color;
  font-size: 48px;
  line-height: 60px;
  text-align: center; }

.ptextwithbg {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: $body-font-color;
  margin: 0;
}

.box_list_sections p.ptextwithbg  { padding: 0 60px;}

.h3text {  
  font-family: $fonts-bold-primary;
  color: $blue-color;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.box_list { background: $white-color; height: 100%; }
.box_list picture, .box_list img, .box_list source { width: 100%; height: auto;}

 
.box_list_content p { padding: 0 5px !important;}

 


.trained_sections {
  background: url(../images/band12-new.jpg) no-repeat 0 0;
    background-size: auto;
  background-size: cover;
  padding: 60px 0 70px 0;
}


 

.h4text {
  color: $orange-color;
  font-family: $fonts-bold-primary;
  font-size: 38px;
  line-height: 50px;}

.h5text {
    font-size: 26px;
    line-height: 35px;
    color: $white-color;
  }

.h6text  {  
  color: $blue-color;
  font-size: 27px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
}

.h6text  strong { font-weight: normal; font-family: $fonts-bold-primary;}
 



.steps_3_box .h3text { font-size: 27px;}

.ptextwithbgfont { font-size: 22px; color: $body-font-color2; }

.steps_3_box_image { min-height: 237px;}


.trained_sections2 {
  background: url(../images/Get-trained-Banner.jpg) no-repeat 0 0;
    background-size: auto;
  background-size: cover;
  padding: 60px 0 70px 0;
}

.client_testimonials { padding: 50px 0 60px 0;}

.s4starbx {
  background: url(../images/s4lines.jpg) left center repeat-x;
}

.s4stars {
  margin: 0 auto;
  display: block;
}

.ptextwithst strong {
  font-family: $fonts-bold-primary;
  color: $orange-color;
  font-weight: normal;
  text-transform: uppercase;
} 

 

    .box_flex .row.box_for3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
    .box_flex    .row.box_for3 > [class*='col-'] {
       display: flex;
       flex-direction: column;
    }

    .box_flex.client_testimonials    .row.box_for3 .client_boxs {border: 1px solid $input-border-color1; padding-bottom: 30px; }

 
.s4rv_namebox {
      background-color: transparent !important;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

.s4rv_namebox img {
      position: absolute;
      right: 10px;
      top: 7px;
    }   

.client_boxs_list { border-bottom:1px solid $input-border-color1; }

.footernav_list li {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.footernav_list li  + li {  border-left: 1px solid $input-border-color1;}

.footernav_list li a { color: $menu-color;}
.footernav_list li a:hover {  color: $orange-color;} 

.footer_sections {background: $foterbg-color;}



.footer_sections p { font-size: 14px; line-height: 20px;   margin-bottom: 0; }
.footer_sections p span {  font-size: 12px; }

.footer_sec_nav a { color: $menu-color; }
.footer_sec_nav a:hover { color: $orange-color; }

.getin_touch {
  background: url(../images/sec5.jpg) left top repeat;
}

.getin_touch h2 { 
  font-size: 36px;
  color: $white-color;
  font-family: $fonts-bold-primary;
}


.getin_touch h3 {font-size: 22px;
  line-height: 38px;
  color: $white-color;  font-family: $fonts-bold-primary;}

.getin_touch  p {font-size: 16px;
  line-height: 24px;
  color: $white-color;}  

.getin_touch  p a  { color: $white-color;  font-family: $fonts-bold-primary;}
.getin_touch  p a:hover { color: $orange-color;  } 

.getin_touch ul li { display: inline-block; padding: 0 25px;}
.getin_touch ul li a {color: $white-color; font-size: 28px; } 


.contact_us_footer { 
    background: url(../images/s5line.jpg) right 70px no-repeat;
    background-size: 1px 100px;}


/* Mobile Manu */

.hamburger_menu {
  display: none;
  float: left;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  width: 25px;
  height: 25px;} 
 
  .hamburger_menu:focus { background: $white-color !important; }  

  .hamburger_menu span {
    opacity: 1;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: $black-color;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }  

.hamburger_menu span:nth-child(1) {  top: 0; }  
.hamburger_menu span:nth-child(2) {  top: 9px; }  
.hamburger_menu span:nth-child(3) {  top: 18px; }  

.hamburger_menu.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hamburger_menu.open span:nth-child(2) {
  opacity: 0;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  left: -60px;
}

.hamburger_menu.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


.menu_holder{
  padding-left: 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
  top: 55px;
  background: $light-blue-color;
  border-top: 1px solid $border-color2;
}

.menu_holder {
  max-height: -moz-calc(100vh - 50px);
  max-height: -webkit-calc(100vh - 50px);
  max-height: calc(100vh - 50px);
   
  overflow: auto;
}

.menu_holder li a {
  font-size: 16px;
  padding: 8px 15px 8px 15px;
  text-align: left;
  color: $white-color;
  display: block;
  border-bottom: 1px dotted $border-color2;
}

.menu_holder li a:hover { text-decoration: none; color: $orange-color; } 

.control_focus_white .form-control:focus {
  color: $white-color;

}

.client_boxs  picture, 
    .client_boxs  source, 
    .client_boxs  img {height: auto;} 

  .client_boxs  { height: 100%; }


  .owl_arrow .owl-dots, .owl_arrow .owl-nav span { display: none;}
  .owl_arrow .owl-prev {
    position: absolute;
    z-index: 99;
    top: 28%;
    left: 0;
    width: 19px;
    height: 60px;
    background: url(../images/prev.png) no-repeat left center !important;
    margin-top: -9px !important;
  }

  .owl_arrow .owl-next {
    position: absolute;
    z-index: 99;
    top: 28%;
    right: 0;
    width: 19px;
    height: 60px;
    background: url(../images/next.png) no-repeat left center !important;
    margin-top: -9px !important;
  }
 
    .steps_3_box_mid { position: relative; }
    
    .steps_3_box_mid::after { 
        content: ''; position: absolute; 
        left: -13px; 
        top:70px;
        width: 22px; height:306px; 
        background: url(../images/s3dvdr.png); 
        background-repeat: no-repeat;}    

    .steps_3_box_mid::before { 
          content: ''; position: absolute; 
          right: -13px; 
          top:70px;
          width: 22px; height:306px; 
          background: url(../images/s3dvdr.png); 
          background-repeat: no-repeat;}      


.search_zip_small {height: 62px; line-height: 62px;}          

  /* **** Media **** */

.for_mobile, .for_mobile_overlay, .for_tab { display: none;}
.br_show_mobile { display: none; } 
 
  
@media screen and (max-width: 1479px) {
  .top_header ul.navbar-nav {margin-right: 100px;}

}
 
@media screen and (max-width: 1200px) {
   .top_header ul.navbar-nav li a {   padding: 0 4px !important; font-size: 13px; }
   .top_header ul.navbar-nav li:last-child a {padding: 0 15px !important;}
   .navbar-brand  .logo {  max-width: 200px; height: auto !important; }
   .top_header {height: 66px; top: 66px; margin-top: -66px; margin-bottom: 66px;}
   .top_header .membrs_login_head {top: 22px;}
}



@media screen and (max-width: 1199px) {
    .top_header ul.navbar-nav {margin-right: 15%;}

    .video_overlay h1 { font-size: 5vw;}
    .video_overlay h2 { font-size: 3.8vw;}

    .icon_list li h2 {font-size: 12px; line-height: 16px;}

    .h2text {  font-size: 38px; line-height: 46px;  }
    .box_list_sections p.ptextwithbg { padding: 0;}
    .ptextwithbg {line-height: 27px;}
    .box_list_sections p.ptextwithbg br { display: none; }
    .box_list_content  {padding-left: 30px; padding-right: 30px; }

    .h4text {font-size: 32px; line-height: 40px;}
    .h5text {font-size: 20px; line-height: 28px;}

    .search_zip {font-size: 24px;}

    .footer_nav  {padding: 15px 0 !important;}  
  
    
    .footer_sections {padding: 30px 0 20px 0 !important;}

    .red_band {padding: 2px 0;}  
    .redband_txt { font-size: 14px;}

    .steps_3_box  { padding: 0 20px !important; }
    .box_list_content { padding: 0; }
    

    .ptextwithbgfont {font-size: 18px;}
    .steps_3_box .h3text {  font-size: 24px; }

    
 
 }
  
@media screen and (max-width: 991px) {
    .desktop_nav,
    .top_header .membrs_login_head_text,
    button.navbar-toggler   { display: none;}
    
    .hamburger_menu_innav { display: block;}

    .hamburger_menu {margin-top: 5px; margin-right: 0;}
    .top_header {padding: 5px 0;}
    .top_header {height: 55px; top: 55px; margin-top: -55px; margin-bottom: 55px;}

    .redband_txt {font-size: 13px; line-height: 20px;}

    .video_overlay h1 { font-size: 4.5vw;}
    .video_overlay h2 { font-size: 3.4vw; margin-top: 5px;}

    .box_list_content  {padding-left: 15px; padding-right: 15px;  }
    .box_list_sections {padding: 40px 0 60px 0;}

    .for_desktop { display: none !important; }
    .for_tab { display: block; }
    .trained_sections  .for_tab br,  .trained_sections .h5text  br, .trained_sections2 .h5text { display: none;  }
    .trained_sections  .for_tab {text-align: center;}
    .trained_sections .h5text { text-align: center; padding: 15px 0 10px 0;}
    .trained_sections, .trained_sections2 {padding: 30px 0 40px 0;}

    .trained_sections2 .h4text, .trained_sections2  .h5text  { text-align: center; }
    
     
    .client_testimonials { padding: 30px 0 20px 0;  }

    .ftrlogo, .ftrlogo img, .ftrlogo source { height: auto; }
    .steps_3_box_image {  min-height: 211px; }
    .owl_arrow  .box_list_content { padding-top: 0 !important;}

    .redband_txt span { display: block;}

}



@media screen and (max-width: 767px) {
  .hide_mobile { display: none !important;  }
  .for_mobile, .br_show_mobile { display: block !important; }

    .navbar-brand .logo { max-width: 180px;}
    .menu_holder li a {padding: 6px 15px 6px 15px; font-size: 15px;}

    .red_band {padding: 4px 0;}
    .redband_txt {font-size: 10px; line-height: 13px;}

    .video_overlay h1 { font-size: 4vw;}
    .video_overlay h2 { font-size: 3vw; margin-top: 10px;}
 

    .for_desktop_overlay .zip_sections,
    .for_mobile_overlay h1, .for_mobile_overlay h2 { display: none; }

    .zip_sections [class*='col-'] { padding-right: 15px !important;  padding-left: 15px !important;  }
    .zip_sections [class*='col-'] { padding-right: 15px !important;  padding-left: 15px !important;  }
    
    .banner_zip   { margin-top: 0 !important; }

    .zipfleld, .search_zip {height: 65px;}
    .search_zip { line-height: 65px; margin-top: 15px; }

    .for_mobile_overlay { display: block; position: relative; 
        background: url(../images/banner.jpg) center top no-repeat;
        background-size: cover; padding: 15px 0;}

       
    .icon_list li {width: 49%; padding: 15px 0;}
    .icon_list li:nth-child(3) { border-left:0 ;}
    .icon_list li h2 {  font-size: 14px; line-height: 18px;}
    
    .box_list_sections {  padding: 30px 0 40px 0; }
    .h2text { font-size: 33px; line-height: 40px;  }
    .ptextwithbg { font-size: 17px; line-height: 25px;  }
 
    .box_list { margin-top: 20px !important; }

    .trained_zip .pl-0 { padding-left: 15px !important;}    

    .trained_sections_img .col-4 { padding: 0 7px;}
    .trained_sections_img .row { padding: 0 8px;}

    .state_classes_sections  .h2text {margin-bottom: 0px !important;}
    .h6text {font-size: 20px;}
    .state_classes_sections  { padding: 30px 0 !important;}
    .steps_3  {padding-top: 0 !important; padding-bottom: 10px !important; }

    .trained_sections2  .for_tab  { padding: 5px 0 0px 0 !important; }

    .client_boxs picture, .client_boxs picture source, .client_boxs picture img {  width: 100%; }
 
    .s4rv_namebox {height: 70px; width: 70px;}
    .s4rv_namebox img {top: 2px; right: 5px;}
    .client_box_content_list  { padding-left: 20px !important; }

    .contact_us_footer { background: none; margin-bottom: 20px; }
    .getin_touch h2 {margin-bottom: 0px !important; font-size: 33px; line-height: 40px;}
    .getin_touch {padding: 30px 0 !important;}
    .getin_touch ul li {padding: 0 20px;}

  
    .footer_sections, .footer_sections .text-left,  .footer_sections .text-right { text-align: center !important; }
    .footer_sections p {margin-top: 20px;}
    .getin_touch h3 {margin-bottom: 10px !important;}

     

    .steps_3_box .h3text {font-size: 24px;}
    .box_list_content { padding: 0; }

    .steps_3_box_image { min-height: 0; }
    .owl_arrow .owl-item img {width: 216px; margin: 0 auto;}

    .steps_3_box_mid::after,
    .steps_3_box_mid::before { display: none; }  

    .search_zip_small {height: 55px; line-height: 55px;}      
    
    .footernav_list li a {font-size: 13px;}
  }


  @media screen and (max-width: 575px) {
    .video_overlay h1 { font-size: 5vw;}
    .video_overlay h2 { font-size: 3.8vw;}
    .h2text { font-size: 29px; line-height: 38px; margin-bottom: 15px !important; }
    .box_list_sections .h2text  br { display: none; }
    .h4text {font-size: 29px; line-height: 38px;}
    .h6text {font-size: 18px; line-height: 27px;}
    .getin_touch h2 { font-size: 29px; line-height: 38px;}
    
  }


  
  @media screen and (max-width: 320px) {
    .icon_list li h2 {  font-size: 12px;  line-height: 16px;  }

  }
