$fonts-primary:  'helvetica';
$fonts-bold-primary: 'helveticabold';
$fonts-menu:  'glacial_indifferenceregular';

$body-font-color: #424242;
$body-font-color2: #7b7b7b;
$body-font-color3: #5f5f5f;
$orange-color: #EF3E23;
$orange2-color: #c82a12;
$orange3-color: #bc1c04;
$black-color: #000000;
$blue-color: #201950;
$yellow-color: #ffb400;
$yellow-color2: #fff37a;
$light-blue-color: #3a3a73;
$white-color: #ffffff;
$menu-color: #3c3a45;
$menu-hoverbg-color: #eeeeee;
$foterbg-color: #e5e5e5;


$transparent-color:rgba(60, 60, 60, 0.0);
$white-opacity:rgba(255, 255, 255, 0.8);

$input-border-color1: #dedede;
$border-color2: #7b7bbf;

$placeholder-color:#000;


@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('../fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('../fonts/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica.woff2") format("woff2"),
    url("../fonts/helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticabold';
  src: url('../fonts/helvetica-bold-font-webfont.woff2') format('woff2'),
       url('../fonts/helvetica-bold-font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


