@charset "utf-8";

@import 'variables'; 
 
/* **** Other CSS include **** */
@import 'bootstrap.min'; 
@import 'owl.carousel.min'; 
@import 'owl.theme.default.min'; 
@import 'floating-labels'; 

/* **** Home Page **** */
@import 'home'; 

/* **** Classes Page **** */
@import 'classes'; 




/* **** Custom **** */
@import 'custom'; 

 .color_white { color: $white-color; }
 .btn-theme { 
     color: $white-color;  background:$orange-color; 
     font-family: $fonts-bold-primary;  padding: 10px ; }

 .btn-theme:hover { background:$orange3-color; }

 @supports(padding:max(0px)) {
    body  {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
  }
  
  html, body {
    overflow-x: hidden !important;
    width: 100% !important;
  }

